{% extends 'baseback.html.twig' %}
{% block title %}Créer une nouvelle Commande{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>Créer une nouvelle Commande</h4>
                        </div>
                        {{ include('commande/_form.html.twig', {'button_label': 'Ajouter'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
