{% extends 'baseback.html.twig' %}
{% block title %}
    ADMIN
{% endblock %}
{% block header%}
    {% if app.user %}
        <div class="mb-auto">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {% block userback %}

        <li class="nav-label"><a href="{{ path('app_user_index', {'id': app.user.getId()}) }}">User </a></li>

    {% endblock %}
{% endblock %}
